{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold" style="font-family: Brush Script MT; text-align:center;">
        </div>       
    </div>
{% endblock %}
